<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/index01.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>常用命令</title>
    <!-- case01 双向数据绑定 -->
    <script>
        window.onload = function() {
            new Vue({
                el: '#eric',
                data: {
                    name: 'sss',
                    age: 21,
                    flag: true,
                    nums: [0, 1, 2, 3, 4],
                    user: {
                        id: 123,
                        name: 'eric'
                    },
                    users: [{
                        id: 1,
                        name: 'eric'
                    }, {
                        id: 2,
                        name: 'jackie'
                    }]
                }
            });
        }
    </script>
</head>

<body>
    <div id="eric">
        <!-- case01 -->
        用户名：<input type="text" v-model="name">
        <br> {{name}}
        <br>{{age}}
        <br>{{flag}}
        <br>{{nums}}
        <br>{{user}}

        <!-- case02 -->
        <ul>
            <li v-for="value in nums">{{value}}</li>
            <!-- 这里加了一个索引 -->
            <li v-for="(u,index) in users">{{index+1}}-{{u.id}}-{{u.name}}</li>
        </ul>
    </div>

</body>

</html>